@model IEnumerable<Lab2.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employee</h2>
<p>
    @Html.ActionLink("Create New Employee", "Create");
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdEmployee })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.IdEmployee })
        </td>
        <td>
            @Html.ActionLink("Specialization", "Details", new { id = item.IdEmployee })
        </td>
    </tr>
    }


</table>
