@model Lab2HW.Models.Shop

@{
    ViewBag.Title = "EditShop";
}


<style>
    .div {
        margin: 10px;
    }

    .input {
        margin: 10px;
    }
</style>
<br/>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="margin-top:20px">
            Edit Shop
        </legend>
        <div>
            @Html.LabelFor(model => model.Name)
        </div>
        <div>
            <p>
                @Html.EditorFor(model => model.Name)
            </p>
            <p>
                @Html.ValidationMessageFor(model => model.Name)
            </p>
        </div>
        <p>
            <input type="submit" value="Save changes" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
